:root {
  --fs-100: 1rem;
  --fs-150: 1.25rem;
  --fs-200: 1.5rem;
  --fs-300: 2rem;
  --fs-400: 3rem;
  --fs-500: 5rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --clr-accent: #ce8eb3;
  --clr-light: #d5bdc1;
  --clr-text: #333;
  --clr-white: #fff;

  @media (width < 37.5rem) {
    --fs-500: 3.5rem;
    --fs-150: 1rem;
    --fs-200: 1.25rem;
  }
}
