.form {
  display: grid;
  gap: 2rem;
  border: 1px solid var(--clr-accent);
  padding: 2rem;

  &__group {
    display: grid;
    gap: 0.5rem;
  }

  &__label {
    display: flex;
    gap: 0.5rem;
    font-weight: var(--fw-600);
    font-size: var(--fs-100);

    span {
      color: var(--clr-accent);
      font-size: var(--fs-150);
    }
  }
  &__input {
    border: 1px solid #cecece;
    padding: 0.5rem;
    font-family: inherit;

    &:focus {
      outline: none;
    }
  }
}
